# Ignorar instalador do Miniconda
Miniconda3-latest-Linux-x86_64.sh

# Ignorar ambientes Conda e virtuais
venv/
src/venv/
.conda/
env/
*.conda
environments.yml

# Ignorar arquivos e diretórios de cache do Python
__pycache__/
*.py[cod]

# Ignorar arquivos temporários e logs
*.log
*.tmp

# Ignorar dados brutos/landing zone
/data/landing/

# Ignorar paths específicos de cache (versão simplificada)
/Project-CSGalaxies/src/analysis/__pycache__/
/Project-CSGalaxies/src/api/__pycache__/

# Ignorar pasta de scripts com cache
/fit_gaussian_spectrum/script_gregory/__pycache__/